*{
    margin:0;
    padding:0;
}
.main{
    position: absolute;
    top:0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    background-image: url("images/homePage.jpg");
    background-position: center;
    background-size:cover;
}
.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

.content h1{
    font-size: 70px;
    font-weight: bolder;
}

.content p{
    margin:20px auto;
    font-size: 25px;
    font-weight:500;
    padding-left: 3%;
    line-height: 25px;
}

#button-go{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: large;
    border: 2px solid #6D05F7;
    background-color: #6e05f79d;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

#button-go:hover{
    background-color: #6D05F7;
}
.starter{
    min-height: 100%;
    min-width: 100%;
    background-image:url("images/registerBG.jpg");
    background-position: center;
    background-size:cover;
    position: relative;
}
.question{
    min-height: 100%;
    min-width: 100%;
    background-image:url("16.jpg");
    background-position: center;
    background-size:cover;
    position: relative;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qu1{
    width: 100%;
    position: fixed;
    top: 20%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 40px;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

form{
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
form label{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.for button:hover{
    border: none;
}
.details{
    width: 100%;
    position: fixed;
    top: 10%;
    transform: translateY(-50%);

    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EB072D;
}
.details h1{
    font-size: 45px;
    margin-top: 0.4px;
}